.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h01 {
  
  padding: 1em;
  width: 100%;
  align-self: left;
  vertical-align: center;
}
.lefty {
  padding-right: 0.25em;
}
.h03 {
  text-align: right;
  vertical-align: center;
  background:coral;
  color: black;
  height: 24px;
}

.title {
  text-align: left;
  margin: 0;
  text-align: left;
 
  padding-top: -50px;
  line-height:0.75;
  font-size: 6rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
